.button{
    height: 50px;
    width: 250px;
    border-radius: 15px;
    cursor: pointer;
    padding: 5px 50px;
    font-size: 20px;
    border: none;
    box-shadow: 1px 3px 7px gray;
    color:white;
    background-color: #405D72;
}