.inquiry-container{
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 80px auto;
    box-shadow: 1px 5px 7px gray;
    flex-wrap: wrap;
    margin-top: 150px;
    width: 905px;
    border-radius: 10px;
}
.input-container{
    color: #405D72;
    padding: 50px;
}
.inner-container-1{
    display: flex;
    justify-content: space-between;
}

.inner-container-2{
    display: flex;
    justify-content: space-between;
}

.input-box{
    width: 250px;
    height: 100px;
    box-shadow: 1px 5px 7px gray;
    border-radius: 10px;
    border: none;
    margin: 20px;
}