body{
    background-color: white;
}
.big{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.container-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    box-shadow: 1px 5px 5px gray;
    background-color: white;
    border-radius: 10px;
}
.sales{
    background-color: white;
}
.help{
    background-color: white;
}
.title{
    color: #405D72;
    font-weight: bold;
}
.img{
    width: 400px;
}
.innerbox1{
    margin-left: 100px;
    box-shadow: 1px 5px 5px gray;
    height: 350px;
    width: 350px;
}
.callimg{
    height: 60px;
    display: block;
    margin: 40px auto;
}