.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
footer {
    background-color: #405D72;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    bottom: 0;
}

.social-img {
    height: 30px;
    width: 30px;
    padding: 5px;
    cursor: pointer;
}

.pages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.pages a {
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

.type {
    font-size: 17px;
    display: flex;
    align-items: flex-start;
    text-decoration: underline;
    flex-wrap: wrap;
}

.type-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 13px;
    flex-wrap: wrap
}

.footer-line {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-line h1 {
    font-size: 15px;
}

@media (max-width: 500px) {
 .container {
        display: block;
        text-align: center;
    }
.container h1{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
    .pages {
        text-align: center;
    }

    .pages a {
        display: inline-block;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
    }

    .type {
        text-align: center;
    }

    .type-name {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .container{
        padding: 20px;
    }
    .pages {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
    }

    .pages a {
        text-align: center;
    }

    .type {
        display: block;
        text-align: center;
    }

    .type-name {
        text-align: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .container{
        padding: 20px;
    }
    .pages {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
    }

    .pages a {
        text-align: center;
    }

    .type {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
    }

    .type-name {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .container{
        padding: 20px;
    }
    .pages {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
    }

    .pages a {
        text-align: center;
    }

    .type {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
    }

    .type-name {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
    }
}