.title {
    text-align: center;
    color: #758694;
}

.bg {
    position: relative;
    background-image: url('./Img/bg.jpg');
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-position: center;
    display: inline-block;
    justify-content: center;
}

.Tagline {
    color: #758694;
    margin-top: 140px;
    text-align: center;
}

.Sub-tagline {
    color: #758694;
    text-align: center;
}

.key-title {
    text-align: center;
    color: white;
    margin-bottom: 10;
    padding-top: 40px;
}

.Key-main-contanier{
    background-color: #405D72;
    margin-bottom: 20px;
}

.key-contanier {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.key-detail {
    width: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin-top: 0;
}

.key-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.key-detail h1 {
    font-size: 20px;
    margin: 10px 0;
    color: #405D72;
}

.key-detail h2 {
    font-size: 15px;
    margin: 5px 0;
    color: #7A8E9B;
}

.Rent-title{
    text-align: center;
    color: #405D72;
}

.Rent-subtitle{
    text-align: center;
    color: #7A8E9B;
}

.Rent-Item-Contanier {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    justify-items: center;
    justify-content: space-evenly;
}

.Rent-Item {
    height: 400px;
    width: 100%; 
    max-width: 350px;
    position: relative;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.Rent-Item:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }

.Rent-Item h1,
.Rent-Item h2,
.Rent-Item h3
{
    text-align: right;
    margin-right: 5px;
    margin-bottom: 0;
    line-height: 0.5;
}

.price{
    color: white;
}
